<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form Post Demo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/responsive.css'  %}"/>
    <link rel="canonical" href="http://onsdigital.github.io/eq-prototypes/ukis/v2/index/">
    <link rel="alternate" type="application/rss+xml" title="eQ Prototypes"
          href="http://onsdigital.github.io/eq-prototypes/feed.xml">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Lato:300,400,600,700,900'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css'>
</head>

<body>
<div class="container">
    <br/>
    <h1>Login</h1>
    <div class="grid ">
        <div class="grid__col col-8@s">
            <div role="main" class="panel__body" id="main">

                <form action="login" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="text" name="userName"><br>
                    <input type="password" name="password"><br>
                    <input type="submit" value="Login"/>
                </form>

            </div>
        </div>
    </div>
</div>

</body>

</html>
